API_PORT=3001
DB_PORT=
DB_USER=
DB_DIALECT=postgres
DB_TIMEZONE=UTC
DB_LOGGING=false
DB_SCHEMA=public
DB=client_list
DB_HOST=
DB_PASSWORD=
SWAGGER_SCHEMES=http,https
EXTERNAL_API=http://example.com/api
SWAGGER_HOST=
SWAGGER_SERVER=

JWT_SECRET=
